.cache
.hypothesis/
.vscode/

/pypy/
/_pypy_binary/
/rpyp4sp/.hypothesis/
.cache
*.pyc
*.json
integrationtests/*.actual
targetrpyp4sp-c*

# fuzzer folders
/fuzz_corpus/
/fuzz_p4/
/p4_compiler_output/

.vscode/
*.csv
gcout

# keep rpyp4sp/test/example_values.json
!rpyp4sp/test/example_values.json
